*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(6, 13, 62);
  color: rgb(154, 239, 208);
}

.section_divs{
  margin-top: 100px;
  display: flex;
  /* justify-content: space-around; */
  margin-left: 500px;

}

.section_right{
  margin-left: 50px;
}
